<section>
  <div>
    <h1 class="text-xl font-bold">17 Point Oil Change</h1>
    <p>
      The seventeen point oil change reviews 17 key points on every vehicle. This is from the Speedee website. This list is for quick referrence. The points are detailed under the list.
    </p>
    <ul class="list-disc list-inside pl-2">
      <li><%= link_to "Oil Change - using the recommended oil type from the manufacturer", { anchor: "oil" }, class: "text-blue-600 underline" %></li>
      <li>New Oil Filter</li>
      <li>Chasis Lubrication *</li>
      <li>Transmission Fluid ** Check and top off</li>
      <li><%= link_to "Differential Fluid ** Check and top off", { anchor: "diff" }, class: "text-blue-600 underline" %></li>
      <li>Radiator Coolant ** Check and top off</li>
      <li>Power Steering Fluid ** Check and top off</li>
      <li>Windshield washer Fluid</li>
      <li>Battery - inspect and test</li>
      <li>Brake Fluid Check</li>
      <li>Engine Air Filter</li>
      <li>Cabin Air Filter</li>
      <li>Wiper Blade Inspection</li>
      <li>Belts and Hoses inspection</li>
      <li>Tire inspection and pressure check</li>
      <li>Windshield - front and rear clean and inspect</li>
      <li>Vacuum front floorboards *</li>
      <li>Free top off service between oil change services</li>
    </ul>
    <h2 id="oil" class="text-lg font-semibold">Oil Information</h2>
    <p>
      We have many different oil weights and types to offer. The oil weight, or viscosity grade, refers to the thickness of the oil at different temperatures. The flow rate of the oil is measured from a standard operating temperature of 100c or 212f. 5w20 is a common oil but the "w" stands for winter, not weight. In low temperatures the oil has a thickness of 5 but in higher temperatures it has a thickness on 20. The higher the number, the thicker the oil. Thicker oils protect better in high heat and high loads, where thinner oils flow faster and protect better in colder temperatures.
    </p>
    <p>
      There are 4 basic types of motor oil today. This refers to how the oil is constructed and thus how long the oil will last and amount of work it can do. The four type are Full Synthetic, Synthrtic Blend, High-Mileage, and Conventional. 
    </p>
    <p>
      Conventional oil is refined crude oil and offers the least protection. It breaks down the quickest and is easily consumed by the engine. Conventional oil has a max life of 3,000 miles and so is great for vehicles that travel short distances or seasonal drivers.
    </p>
    <p>
      Synthetic Blend and High-Mileage oils are middle of the road and are best with regards to value versuses life and work load. They are built for todays engines with higher compression and turbochargers. The Blend is a mix of conventional and synthetic with additives to help extend the oils life. High-Mileage is also a blend but the additives focus on assisting more senior engines. These oils have a max life of 7,500 miles and are great for most dirvers.
    </p>
    <p>
      Full Synthetic oil is a completely manufactured oil and provides the best lubrication and longest life. This oil is engineered from the ground up to handle the heat and workload while providing superior lubrication. This oil has a max life of 15,000 and is great for new vehicles, imports, and diesels.
    </p>
    <p>
      Every oil change includes a new Prime Guard filter. Always review the old filter for the gasket before installing a new filter. You often times need to use a tool to remove the old oil filter. Never use a tool to install a new filter. New oil filter installation should be screwed up snug, not tight. The heat will cause the gasket to swell and lock the filter in place. Ensure to review the filter and plug for leaks after oil pressure has normalized. If the filter is leaking it is most often the result of a double gasket.
    </p>
    <h2>Chasis Lubrication</h2>
    <p>
      Review the chasis and suspension for grease fittings. Grease these fittings with a few shots of grease when found. Grease fittings are found on ball joints, steering systems, and u-joints.
    </p>
    <h2>Transmission Information</h2>
    <p>
      The transmission takes the torque from the engine and applies it to the road. There are several transmission types in use today and each requires different procedures. In general, if the vehicle has a dipstick and if it uses ATF (automatic transmission fluid), then we can perform the transmission service. This service involves using a machine that pulls several quarts of fluid through the dipstick and replacing it with new. The vehicle is then started and the process starts again while running through the transmission range.
    </p>
    <p>
      A prefered transmission service is to drain the fluid from the transmission, pull the pan and replace the filter. Reseal the transmission and replace the fluid that was lost.
    </p>
    <p>
      Talk with the customer before any transmission service is performed. How is the vehicle driving? Are there any concerns? Why do they want to get the service or flush? How many miles are on the vehicle. Is there documentation of previous transmission services or flushes. Is the check engine light on? Test drive the vehicle both cold and hot before service.
    </p>
    <p>
      Transmissions will either have gears and clutch packs or a belt running on cone shapped drums called a CVT (Continuously Variable Transmission). With a trans that uses gears and clutch packs torque from the engine is applied through various gear sizes to acquire the required torque for the situation. A stopped vehicle will require more torque to get moving than one that is already moving. With this type of transmission the driver will be able to feel a slight pause or hesitation in the vehicle when the transmission changes the gear range. In a CVT transmission there are no gears present which creates a smooth and even change in torque and speed.
    </p>
    <h2 id="diff">Differential Information</h2>
    <p>

    </p>
  </div>
</section>